/* 
color paleete
#63ADF2
#545E75
#A7CCED
#304D6D
#82A0BC
#FFE660 -yellow
*/

/* Global styles
-------------------------------*/
html {
  box-sizing: border-box;
}
*,
*:before,*:after {
  box-sizing: inherit;
}
body {
  color: #121716;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  line-height: 1.5;
}
img {
  width: 85%;
  /* height: 300px; */
}
a {
  color: #ffe660;
}
a:hover {
  text-decoration: none;
}
h1 {
  font-size: 67px;  
  line-height: 1; 
}
h2 {
  font-size: 45px;
}
h1,
h2 {
  font-family: "Caveat", cursive;
  font-weight: 400;
  margin: 0;
}
.content-wrap {
  max-width: 800px;
  width: 85%;
  margin: 0 auto;
  padding: 60px 0;
  @font-face {
    font-family: "MyWebFont";
    src: url("WebFont.eot");
    src: url("WebFont.eot?iefix") format("eot"),
        url("WebFont.woff") format("woff"), url("WebFont.ttf") format("truetype"),
        url("WebFont.svg#webfont") format("svg");
    }
}
h3 {
margin-bottom: 0;
} 
.item-details h3 + p {
  font-style: italic;
}
.item-details h3 ~ p {
margin: 0;
}

/* .divider > section { */
/* border-bottom: 1px dashed #304d6d; */
/* padding: 25px 0; */
/* } */
.divider > section:last-of-type {
border-bottom: none;
}

/* profile
-------------------------------*/
header {
  background: #09054b;
  color: #82a0bc;
  /* max-width: 85%; */
}

/* myself
-------------------------------*/
.myself {
  background: #304d6d;
}

/* hobbies
-------------------------------*/
.hobbies {
  background: #6068b4;
}
.hobby-item {
  overflow: hidden;
}

.hobby-item {
  /* display: grid; */
  grid-template-columns: 1fr 2fr;
  justify-items: stretch;
  align-content: center;
  justify-content: start;
  align-items: baseline;
}

/* project
-------------------------------*/
.project {
  background: #3d5268;
}
/* btn- button */
.project a {
  color:#ffe660 ;
}

/* skills
-------------------------------*/
.skills {
  background: #98ad7f;
}
.skill-items {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  justify-items: stretch;
  align-items: stretch;
  justify-content: center;
  align-content: stretch;
}

/* education
-------------------------------*/

.education {

    /* animation-name: bg-Color-Change ;
 animation-duration: 10s;
 animation-delay: -2s;
 animation-iteration-count: infinite;
}

@keyframes bg-Color-Change {
    0% {
        background-color: rgb(148, 163, 175);
    }
    25% {
        background-color: antiquewhite
    }
    50% {
        background-color: rgb(211, 203, 193)
    }
    75% {
        background-color: rgb(126, 165, 165)
    }
    100% {
        background-color: rgb(171, 169, 173);
    } */


  background-image: url(images\joanna-kosinska-unsplash.jpg);
  background-size: cover;
  background-position: top right;
  padding-bottom: 100px;
   } 
.education p {
  width: 60%;
}
/* CONTACT INFO
-------------------------------*/
footer {
  background: #12263b;
  color: #f7fff7;
 
}
.contact-list {
  list-style-type: none;
  padding: 0;
  
}
.contact-list a {
  padding: 15px;
  display: inline-block;
}
/* Responsive */
@media screen and (min-width: 750px) {
  header, footer {
    text-align: center;
  }
  .hobby-item img {
    float: left;
    margin-right: 20px;
  }
  hobby-item {
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 20px;
  }
  .contact-list{
  display: flex;
  justify-content: center;
  }
  img {
    width: 300px;
      /* height: 300px; *}
}
@media screen and (max-width: 749px) {
  h1 {
    font-size: 75px;
    line-height: 0.9;
    margin-bottom: 20px;
    /* margin-right: 20px; */
    /* margin-left: 20px; */
}
h1 {
  line-height: 0.9;
}
h2 {
  line-height: 1;
}
.contact-list a {
  padding: 5px;
}
}